// Color variables

    // Dark Theme
    $mainColor : #333;
    $elementsColor : #F4FDFF;
    $accentColor : #79e5fc;

    // Note for Light and Dark website Theme:
        // Light
            // MAIN : #F4FDFF
            // ELEMENTS : #333
            // ACCENT : #79e5fc
        // Dark 
            // MAIN : #333
            // ELEMENTS : #F4FDFF
            // ACCENT : #79e5fc

// General website styles

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 210vh;
    width: 100vw;
    position: relative;
    background-color: $mainColor;
}

// Imports
    // Navigition Styles
        // Mobile
        @import 'nav/_mobileNav.scss';
        // Desktop
        @import 'nav/_desktopNav.scss';

    // Main
        // Mobile

        // Desktop
    
    // Footer
        // Mobile

        // Desktop