// Animations File
@import '_animations.scss';

// Color variables

// Dark Theme
$mainColor : #333;
$secondaryColor : #222;
$elementsColor : #F4FDFF;
$accentColor : #00d0ff;

// General website styles

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 210vh;
    width: 100vw;
    position: relative;
    background-color: $mainColor;
    overflow-x: hidden;
}

input {
    padding: 0.5em 1em;
    border-radius: 25px;
    font-size: 1.2rem;
    font-family: 'Grechen Fuemen', cursive;
    font-weight: bold;
    text-align: center;
    color: $elementsColor;
    border: 1px solid $elementsColor;
    box-shadow: 0px 0px 10px inset $elementsColor;
    background-color: $mainColor;
    transition: box-shadow .6s;

    &:focus {
        border: 1px solid $accentColor;
        outline: none;
        box-shadow: 0px 0px 10px inset $accentColor;
    }
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Imports
    // Navigition Styles
        // Mobile
            @import 'nav/_mobileNav.scss';
        // Desktop
            @import 'nav/_desktopNav.scss'; 

    // Main
        // Mobile

        // Desktop

    // Footer
        // Mobile

        // Desktop