// Color variables

// Dark Theme
$mainColor : #333;
$secondaryColor : #222;
$elementsColor : #F4FDFF;
$accentColor : #00d0ff;

// General website styles

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: $mainColor;
    overflow-x: hidden;
}

.main__desktop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 150px);
    min-height: calc(100vh - 75px);
}

.main__mobile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    min-height: calc(100vh - 75px);
}

input {
    padding: 0.5em 1em;
    border-radius: 25px;
    font-size: 1.2rem;
    font-family: 'Grechen Fuemen', cursive;
    font-weight: bold;
    text-align: center;
    color: $elementsColor;
    border: 1px solid $elementsColor;
    box-shadow: 0px 0px 10px inset $elementsColor;
    background-color: $mainColor;
    transition: box-shadow .6s;

    &:focus {
        border: 1px solid $accentColor;
        outline: none;
        box-shadow: 0px 0px 10px inset $accentColor;
    }
}

.logo {
    font-weight: bold;
    color: $elementsColor;
    font-family: 'Grechen Fuemen',
        cursive;
    font-size: 2.2rem;
    text-decoration: none;
    text-shadow: 0px 0px 5px $elementsColor;
    transition: text-shadow .6s, color .6s;

    &:focus {
        outline: none;
        text-shadow: 0px 0px 5px $elementsColor;
        color: $accentColor;
    }

    &:focus span {
        color: $secondaryColor;
    }

    span {
        color: $accentColor;
        transition: color .6s;
    }
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlightedText {
    font-family: Grechen Fuemen,
    cursive;
    color: $accentColor;
    text-shadow: 0px 0px 10px $secondaryColor;
}

.highlightedText--Desktop {
    font-size: 2.4rem;
}

.highlightedText--Mobile {
    font-size: 1.6rem;
}

@media(min-width:768px){
    .mobileElement {
        visibility: hidden;
    }
}

@media(max-width:768px){
    .desktopElement {
        visibility: hidden;
    }
}

@media(min-width:768px){
    .desktopElement {
        visibility: visible;
    }
}

// Imports

// Navigition Styles

// Mobile
@import 'nav/_mobileNav.scss';
// Desktop
@import 'nav/_desktopNav.scss';

// Main

// Mobile
        @import 'main/_mobileMain.scss';
    // Desktop
        @import 'main/_desktopMain.scss';

// Subjects
    // Mobile
        @import 'subjects/_mobileSubjectMain.scss';
    // Desktop
        @import 'subjects/_desktopSubjectMain.scss';

.disabledLink{
    pointer-events: none;
    opacity: 0.5;
}